.App{
  float: center;
  text-align: center;
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding-left: 400px;
  justify-content: center;
  background-image: linear-gradient(79deg,#7861f0,#f186f1 48%,#f0a55b);
}
.container, .login-form, .register-form{
  display: flex;
  flex-direction: column;  
  width: 40vw;
  text-align: center;

}
label{
  text-align: left;
  padding: 0.25rem 0;
}
input{
  margin: 10px;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  
}
button{
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
}
.link-btn{
  background: none;
  text-decoration: underline;
  color: white;
  border-radius: 10px;
}
.login{
  margin-top: 20px;
  border-radius: 10px;
}
.link-btn:hover{
  color: black;
  
}
h5{
  color:rgb(165, 245, 85);
  font-size: 20px;
  font-family: roboto;
  text-align: center;
  padding-right: 400px;
}
div{
  text-align: center;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.editing{
  margin-right:10px ;
}
.btn{
  margin-right:10px ;
  margin-bottom: 5px;
  margin-top:5px ;
}
.divbtn{
  float: left;
}
.container1{
  display: flex;
  width: 50vw;
 text-align: center;
  float: right;
}
.container2{
  display: flex;
  width: 100vw;
  text-align: center;
  float: left;
  margin-right: 300px;
  
}
