.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.editing{
  margin-right:10px ;
}
.btn{
  margin-right:10px ;
  margin-bottom: 5px;
  margin-top:5px ;
}
.divbtn{
  float: left;
}
.card{
  width: 85vw;
  height: 80vh;
}
img{
  height:50px;
  width:60px;
}